<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_1.xsd">
    <fullnamespace>AuthorizeNet\AuthorizeNet</fullnamespace>
    <descriptive locale="en_US">
        <title>Authorize.Net</title>
        <subtitle>Authorize.Net payment gateway</subtitle>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Authorize.Net</title>
        <subtitle>Plateforme de paiement Authorize.Net</subtitle>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.0</version>
    <author>
        <name>Thelia</name>
        <email>info@thelia.net</email>
    </author>
    <type>payment</type>
    <thelia>2.1.0</thelia>
    <stability>other</stability>
</module>
